/* This css stylesheet is created to further align with separation concerns and adhere to an MVC model.
While inline CSS is used throughout the UI, this stylesheet deals with concentrated elements
of the UI that require significant styling.
*/


/* button styling for Ready Button Alerts.*/
.body{
    -fx-background-color: #ffc967;
    -fx-font-size: 100%;
    -fx-font-family: 'Droid Sans Mono';
}
.button {
    -fx-text-fill: white;
}

.continue-button {
    -fx-background-color: black;
    -fx-font-size: 1.25em;
    -fx-font-family: 'Droid Sans Mono';
    -fx-font-weight: bold;

}

.go-back-button {
    -fx-background-color: #bd7a00;
    -fx-font-size: 1.25em;
    -fx-font-family: 'Droid Sans Mono';
    -fx-font-weight: bold;

}
 .button-bar {
     -fx-spacing: 50;
     -fx-alignment: center;
 }

 .dialog-pane .header-panel {
     -fx-text-fill: white;
     -fx-background-color: #ffc967;
     -fx-font-size: 1.25em;
     -fx-font-weight: bolder;
 }
.dialog-pane {
    -fx-font-family: 'Droid Sans Mono';
    -fx-background-color: #1a1a1a;
    -fx-text-fill: #ffffff;
}
 .dialog-pane .content {
    -fx-background-color: #1a1a1a;
     -fx-font-weight: bolder;
     -fx-text-fill: white;
 }


#setterPane {
    -fx-text-fill: white;
    -fx-background-color: #232323;
    -fx-font-size: 1.25em;
    -fx-font-weight: bolder;
    -fx-font-size: 1.25em;
}
